
@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="questionOne">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="false" aria-controls="answerOne">
                Atributo 1
            </a>
        </h5>
    </div>
    <div id="answerOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
        <div class="panel-body">
            AQUI VAI A PORRA TODA
            <br />
            PORRA TODA
        </div>
    </div>
</div>
