@model TabHelper.Models.ViewModel.FormModel
@using TabHelper.Helpers

@{
    Layout = null;
}

<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Adicionar novo atributo</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="well text-center" style="border-color:#029acf">
                <strong>Inserir novo atributo de formulário</strong>
            </div>
            <div class="well text-center" style="border-color:#029acf">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputSmall">Identificador</label>
                        <div class="col-lg-9">
                            <input style="margin-top: 10px;" class="form-control input-sm" asp-for="Code" type="text" placeholder="VENDAS-2003">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputSmall">Nome</label>
                        <div class="col-lg-9">
                            <input style="margin-top: 10px;" class="form-control input-sm" asp-for="Name" type="text" placeholder="Formulário Prospeção">
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="well text-center" style="border-color:#029acf">

                <div class="form-group">
                    <fieldset style="margin-bottom:10px;">
                        <a class="btn btn-default btn-xs" style="width:66%;border-radius:12px;" id="addComponent">Adicionar entrada</a>
                    </fieldset>
                </div>

                <div class="row">
                    <div id="faq" class="attrCollapse" role="tablist" aria-multiselectable="true">

                    </div>
                </div>

            </div>
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info btn-sm">Salvar alterações</button>
            </div>
        </form>
    </div>
    <div class="modal-footer"></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
        $(function (){
            $("#addComponent").click(function () {

                $.ajax({
                    url: 'Forms/Attribute',
                })
                    .done(function (result) {
                        console.log(result);
                        $(".attrCollapse").append(result.value);
                    });
        });
                @*$(".attrCollapse").append("@(ViewBag.Component)");*@
            });
</script>



