@model TabHelper.Models.ViewModel.FormModel


@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Editar formulário</h4>
    </div>
    <div class="modal-body">
        <form data-ajax="true" data-ajax-method="POST" data-ajax-failure="formOnFail" data-ajax-success="window.location = '/Index'" asp-controller="Forms" asp-action="Edit" class="form-horizontal">
            <div class="well text-center" style="border-color:#029acf">
                <strong>Atualizar informações do formulário @ViewBag.Form</strong>
            </div>
            <div class="well text-center" style="border-color:#029acf">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputSmall">Identificador</label>
                        <div class="col-lg-9">
                            <input style="margin-top: 10px;" class="form-control input-sm" asp-for="Code" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputSmall">Nome</label>
                        <div class="col-lg-9">
                            <input style="margin-top: 10px;" class="form-control input-sm" asp-for="Name" type="text">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-info btn-sm">Salvar alterações</button>
            </div>
        </form>
    </div>
    <div class="modal-footer"></div>
</div>