@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Editar entidade</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="well text-center" style="border-color:#029acf">
                <strong>Atualizar informações da entidade {ASDASD}</strong>
            </div>
            <div class="well text-center" style="border-color:#029acf">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputSmall">Nome</label>
                        <div class="col-lg-9">
                            <input class="form-control input-sm" type="text" id="inputSmall" placeholder="Receptivo-001">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-3 control-label">Descrição</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Equipe do receptivo de vendas. bloco 01"></textarea>
                            <span class="help-block">Informe uma breve descrição que defina a entidade</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info btn-sm">Salvar alterações</button>
    </div>
</div>