@model TabHelper.Models.Entities.User

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Adicionar novo usuário</h4>
    </div>
    <div class="modal-body">
        <form method="post" asp-controller="User" asp-action="Create" class="form-horizontal">
            <div class="well text-center">
                <strong>Inserir novo registro de usuário</strong>
            </div>
            <div class="well text-center">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Nome</label>
                    <div class="col-lg-9">
                        <input class="form-control input-sm" type="text" asp-for="Name" placeholder="Nome Completo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">E-mail</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control input-sm" asp-for="Email" placeholder="usuario@datasuricata.com.br">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Senha</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control input-sm" asp-for="Password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Acesso</label>
                    <div class="col-lg-9">
                        <select class="form-control input-sm" asp-for="UserAccess" asp-items="Html.GetEnumSelectList(typeof (UserAccess))"></select>
                        <br>
                    </div>
                    <label for="select" class="col-lg-3 control-label">Entidade</label>
                    <div class="col-lg-9">
                        <select class="form-control input-sm" id="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <br>
                    </div>
                </div>
            </fieldset>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info btn-sm">Salvar alterações</button>
    </div>
</div>
