@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Tab Helper</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-custom.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min-custom.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="container" style="padding-top: 5%;" >
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div class="well">
                    <h5 class="text-center">Efetuar logon no sistema</h5>
                </div>
                <form>
                    <div class="form-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="user@datasuricata.com.br" required autofocus>
                        <label for="inputEmail">Endereço de e-mail</label>
                    </div>

                    <div class="form-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="**********" required>
                        <label for="inputPassword">Senha</label>
                    </div>

                    <div>
                        <input type="checkbox" id="customCheck1">
                        <label for="customCheck1">Lembrar senha</label>
                    </div>
                    <button class="btn btn-lg btn-info btn-sm text-uppercase" style="width: 100%;" type="submit">acessar</button>
                    <hr>
                    <button class="btn btn-lg btn-sm text-uppercase" style="width: 100%;" type="submit">Acessar com Facebook</button>
                    <button class="btn btn-lg btn-sm text-uppercase" style="width: 100%;" type="submit">Acessar com Google</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
</body>