
@{
    ViewData["Title"] = "Área de Trabalho";
}

<div class="col-md-12">
    <div class="panel panel-info drop-shadow">
        <div class="panel-heading">Workspace</div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">RENAUT-ATIVOS</p>
                        <p class="text-center"><b>Codigo</b> 1354</p>

                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">UNIMED-TRIAGEM</p>
                        <p class="text-center"><b>Codigo</b> 588</p>

                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">IBGE-PESQUISA</p>
                        <p class="text-center"><b>Codigo</b> 1884</p>

                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">IBGE-PESQUISA</p>
                        <p class="text-center"><b>Codigo</b> 77</p>

                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">IBGE-PESQUISA</p>
                        <p class="text-center"><b>Codigo</b> 13</p>

                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">IBGE-PESQUISA</p>
                        <p class="text-center"><b>Codigo</b> 131</p>
                    </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 26px;">
                    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" style="width: 100%; height: 86px" data-target="#create">
                        <p class="text-center">Adicionar (+)</p>
                        <p class="text-center">IBGE-PESQUISA</p>
                        <p class="text-center"><b>Codigo</b> 55</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <partial name="List" />
</div>

<div class="modal" id="create">
    <div class="modal-dialog">
        <partial name="Create" />
    </div>
</div>

