@{
    ViewData["Title"] = "Sobre";
}
<div class="row">
    <div class="col-md-12">
        <h2>A simplicidade para sua empresa</h2>
        <br />

        <h3>Criada com intuito de ser um auxiliar de marca para call-centers</h3>
        <p>Esta ferramenta, foi desenvolvida por <a>Data Suricata </a>- Curitiba, PR (@DateTime.Now.Year) e todos seus direitos são reservados.</p>

        <br />
        <h3>Primeiros passos</h3>
        <br />
        <p><b>1º</b> Primeira etapa é acessar a ferramenta com os dados de administrador <small>(Contate o suporte da plataforma para auxilio ou uma licença de uso)</small></p>
        <p><b>2º</b> Crie suas <strong>entidades</strong> denominadas por projetos, filiais, código, departamento ou como melhor se ajusta para sua empresa.</p>
        <p><b>3º</b> Agora com acesso ao painel administrativo e com as entidades criadas, podemos criar os <strong>novos usuários</strong>.</p>
        <p><b>4º</b> Devemos criar no minimo um atributo para nosso auxiliar de marca e tabulação.</p>
        <p><b>5º</b> Nossa próxima etapa é criar um auxiliar de marca para nossa tabulação no painel de <strong>tabulações</strong> e vincular as atribuições de formulários a ele.</p>
        <br />
        <div class="col-md-2">
            <h4 class="text-primary">Exemplo:</h4>
        </div>
        <div class="col-md-10">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Titulo</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="#" placeholder="Receptivo-Pesquisa-001" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Observação</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Tabulação formulário de entrada criado para pesquisas acompanhar fluxo de pesquisa e vendas Renault." readonly></textarea>
                            <span class="help-block">Informe uma observação sobre a criação deste auxiliar de marca.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Atribuições</label>
                        <div class="col-lg-10">
                            <select multiple="" class="form-control" disabled>
                                <option>1 - Formulário de satisfação produto</option>
                                <option>2 - Formulário de satisfação entrega </option>
                                <option>3 - Formulário de satisfação cliente</option>
                                <option>4 - Formulário de satisfação atendimento</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Auxiliar de marca ativo?</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="#" id="#" value="option1" checked="" disabled>
                                    Ativado
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
                                    Desativado
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <p><b>6º</b> Pronto agora basta abrir o painel de atendimento e alimentar os formulários com os auxiliares de tabulação.</p>
    </div>
</div>
 

