@{
    ViewData["Title"] = "Contato & Suporte";
}
<h2>@ViewData["Title"]</h2>
<h3>Informações para contato.</h3>

<address>
    Rua Roberto Lobo, 266 <br />
    Curitiba, PR 81510-560<br />
    <abbr title="Telefone">T:</abbr>
    41 99862-3719<br />
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:lucas.moraes.dev@gmail.com">lucas.moraes.dev@gmail.com</a><br />
</address>
