@{
    ViewData["Title"] = "Inicio";
}
    <div class="col-md-12 col-sm-12">
        <div class="jumbotron text-center">
            <h1>Auxiliar de tabulação para chamadas</h1>
            <p class="lead">Uma alternativa simples e prática para o dia-a-dia de quem faz toda a diferença.</p>
            <p>
                <a class="btn btn-info btn-lg" asp-area="" asp-controller="Home" asp-action="About">Começe Agora</a>
            </p>
        </div>
        <br />
        <h2>Personalize suas tabulações.</h2>
        <p class="text-justify">Esqueça tabelas de excel, cadastre suas tabulações de forma simples e pratica. Use nosso configurador para gerir formulários de acordo com a necessidade da sua empresa.</p>
        <p class="text-justify">Crie entidades para parametrizar as tabulações por empresa, departamentos ou projetos.</p>
        <br />
        <h4><b>Features:</b></h4>
        <p class="text-primary">
            <img style="max-width:15px;" src="~/images/check_logo.svg">
            <small>Controle de usuários.</small>
        </p>
        <p class="text-primary">
            <img style="max-width:15px;" src="~/images/check_logo.svg">
            <small>Controle de entidades por departamentos.</small>
        </p>
        <p class="text-primary">
            <img style="max-width:15px;" src="~/images/check_logo.svg">
            <small>Controle de tabulações e auxiliares de marca.</small>
        </p>
        <p class="text-primary">
            <img style="max-width:15px;" src="~/images/check_logo.svg">
            <small>Parametrização de formulários.</small>
        </p>
        <div class="col-md-12">
            <blockquote class="blockquote-reverse">
                <p>Conseguimos dimensionar nossas pesquisas com o <a asp-area="" asp-controller="Home" asp-action="Index">Tab Helper</a>, de forma muito eficaz.</p>
                <small>Counterfeit Call Center - <cite title="Source Title">Luiz Henrique de Moraes</cite></small>
            </blockquote>
        </div>
    </div>
